<% include header.ejs %>
	<div id="body">
		<div class="content">
			<div>
				<div>
					<h1>Sport</h1>
					<div> <a href="breakfast.html"><img src="images/breakfast2.jpg" width="484" height="271" alt=""></a> </div>
					<ul>
						<li>
							<h2><a href="breakfast.html">Toyota Thai League 2017 </a></h2>
							<p>
								TOYOTA THAI LEAGUE 2017 (PATTAYA UNITED)<br>
								Pattaya Stadium
								19 ก.พ. 60 - 20 พ.ค. 60
							</p>
							<span class="price">120</span>
						</li>
						<li>
							<h2><a href="breakfast.html">AFC Champions League 2017 </a></h2>
							<p>
								AFC Champions League 2017(SCG MUANGTHONG UNITED)<br>
								SCG Stadium, Muang Thong Thani
								26 เม.ย. 60
							</p>
							<span class="price">300</span>
						</li>
						<!-- <li>
							<h2><a href="breakfast.html">French Toast With Eggs</a></h2>
							<p>
								This website template has been designed by Free Website Templates for you, for free. You can replace all this text with your own text.
							</p>
							<span class="price">$1</span>
						</li> -->
						<li class="last	">
							<h2><a href="breakfast.html">2017 FORMULA 1</a></h2>
							<p>
								2017 FORMULA 1 SINGAPORE AIRLINES SINGAPORE GRAND PRIX<br>
								Singapore Marina Bay Street Circuit<br>
								15 ก.ย. 60 - 17 ก.ย. 60
							</p>
							<span class="price">8100</span>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<% include slidebar.ejs %>
	</div>
	<% include footer.ejs %>
</body>
</html>
