<% include header.ejs %>

	<div id="body">
		<div class="content">
			<div>
				<div>
					<h1>Concert</h1>
					<div> <a href="/burger"><img src="images/burger.jpg" width="434" height="288" alt=""></a> </div>
					<ul>
						<li>
							<h2><a href="/burger">Single Festival 2017</a></h2>
							<p>
								อุบลราชธานี	UBON SQUARE	วันเสาร์ที่ 29 เมษายน 2560	18.00 น.
							</p>
							<p>
								ขอนแก่น	WUFOO TRADING CENTER	วันเสาร์ที่ 6 พฤษภาคม 2560	18.00 น.
							</p>
							<p>
								เชียงใหม่	Prasertland	วันเสาร์ที่ 20 พฤษภาคม 2560	18.00 น.
							</p>
							<p>
								หาดใหญ่	Central Festival Hatyai	วันเสาร์ที่ 10 มิถุนายน 2560	18.00 น.
							</p>
							<p>
								กรุงเทพ	Challenger Hall 1, Impact Muang Thong Thani	วันเสาร์ที่ 24 มิถุนายน 2560	18.00 น.
							</p>

							<span class="price">399</span>
						</li>
						<li>
							<h2><a href="/burger">Sound Box</a></h2>
							<p>
								3 วงดนตรีน่าจับตา - มาย ไลฟ์ แอส อะลิ โทมัส / เทเล็ก เทเล็กซ์ / ชนุดม
								ร่วมแสดงเปิดงานดนตรี “ซาวด์บ็อกซ์ - แทททูคัลเลอร์ และ โพลีแคท”
								20 พฤษภาคมนี้ เมืองไทย จีเอ็มเอ็ม ไลฟ์ เฮ้าส์

							</p>
							<span class="price">900</span>
						</li>
						<!-- <li>
							<h2><a href="/burger">DJ Run Festival</a></h2>
							<p>
								5KM FUN RUN → 5 ZONES WITH LIVE DJs SPINNING → MUSIC FESTIVAL
								DJ Run Festival is today’s HOTTEST spinning music run featuring actual DJs along the track. You’ll run through our high-energy course while the DJs play live through the speakers to get you running to the beat.
								Get those endorphins flowing together with your friends for one night ONLY at the after-party dance festival.
								Move to the beats and DANCE LIKE THERE’S NO TOMORROW!
							</p>
							<span class="price">1136</span>
						</li> -->
						<li class="last	">
							<h2><a href="/burger"> Wet Songkran Party </a></h2>
							<p>
								สงกรานต์นี้เตรียมเก็บกระเป๋า มุ่งหน้าสู่พัทยา กับงานปาร์ตี้กลางสวนน้ำที่จะปลุกทุกบีทแห่งความสนุกในตัวคุณ กับงาน “Wet Songkran Party” ที่จะจัดขึ้นในวันที่ 15 เมษายนนี้ ที่สวนน้ำรามายณะ พัทยา รับรองความมันส์เต็มพิกัด ให้คุณโดด แดนซ์  กันสุดเหวี่ยงกลางสายน้ำ กับสไตล์เพลงหลากหลาย ไม่ว่าจะเป็น ฮิปฮอป, อาร์ แอนด์ บี, แทรนซ์, ดิสโก้, เทคโน เฮาส์ และ อีดีเอ็ม ที่ขนทีมมามอบความบันเทิงจากดีเจมืออาชีพ และพิเศษสุด ๆ คอนเสิร์ตจากศิลปินดัง อย่าง วงเก็ทสึโนวา (Getsunova) และ บุรินทร์ (Burin) ความสนุกเต็มพิกัดเริ่มตั้งแต่ 10 โมงเช้า ถึงตี 1
							</p>
							<span class="price">999</span>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<% include slidebar.ejs %>
	</div>
	<% include footer.ejs %>
</body>
</html>
