<div id="footer">
  <div>
    <ul>
      <li class="first">

        <ul>
          <li>
            <a href="https://www.facebook.com/pokpong.song?fref=ts" class="facebook"></a>
          </li>
          <li>
            <a href="https://www.facebook.com/photo.php?fbid=10153615760003404&set=a.433677653403.219925.604228403&type=3&theater" class="twitter"></a>
          </li>
          <li>
            <a href="https://www.facebook.com/photo.php?fbid=10153489345968404&set=a.433677653403.219925.604228403&type=3&theater" class="googleplus"></a>
          </li>
        </ul>
      </li>
      <li>
        <a href="/"><img class="logo" src="/images/logo-footer.png" alt=""></a>
        <ul class="navigation">
          <li>
            <a href="/">Ticket Lists</a>
          </li>
          <li>
            <a href="/about">About Us</a>
          </li>
          <li>
            <a href="/menu">Menu</a>
          </li>
          <li>
            <a href="/contact">Contact Us</a>
          </li>
        </ul>
        <span>&copy; 2023 RetroDiner.com. All Rights Reserved</span>
      </li>
      <li class="last">
        <h2>Follow Us By Email</h2>
        <form action="/">
          <input type="text" name="subscribe" value="Enter Your Email Here...">
          <input type="submit" value="">
        </form>
      </li>
    </ul>
  </div>
</div>
