<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<head>
	<title>Retro Diner</title>
	<meta charset="utf-8">
	<link href="/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div id="header">
  <div>
    <a href="index.ejs"><img class="logo" src="images/logo.png" width="513" height="84" alt="" title=""></a>
    <a href="index.ejs"><img  src="images/waitress.png" width="332" height="205" alt="" title=""></a>
    <ul class="navigation">
      <li>
        <a class="active" href="/">Home</a>
      </li>
      <li>
        <a href="/about">About</a>
      </li>
      <li>
        <a href="/menu">Menu</a>
      </li>
      <li>
        <a href="/contact">Contact</a>
      </li>
      <li>
        <a href="/blog">Blog</a>
      </li>
    </ul>
  </div>
</div>
