<!DOCTYPE html>
<head>
	<title>Jongdi</title>
	<meta charset="utf-8">
	<link href="/css/style.css" rel="stylesheet" type="text/css">

	<link rel="icon" href="images/favicon.ico">

</head>
<body>
<div id="header">
	<div>
		<a href="/"><img class="logo" src="/images/logo.png" width="513" height="84" alt="" title=""></a>
		<a href="/"><img src="/images/waitress.png" width="332" height="205" alt="" title=""></a>
		<ul class="navigation">
			<li>
				<a href="/" id="home">Home</a>
			</li>
			<li>
				<a href="/about" id="about">About</a>
			</li>
			<li>
				<a href="/item" id="menu" hidden>Ticket Lists</a>
			</li>
			<li>
				<a href="/contact" id="contact">Contact</a>
			</li>
			<li>
				<a href="/shop/item" id="shop-item" hidden>My Items</a>
			</li>
			<li>
				<a href="/user/item" id="user-item" hidden>My Items</a>
			</li>
			<li>
				<a href="/register" id="register-bttn" hidden>Register</a>
			</li>
			<li>
				<a href="/log-in" id="log-in-bttn" hidden>Login</a>
			</li>
			<li>
				<a href="/" id="log-out-bttn" hidden>Logout</a>
			</li>
			<li>
				<a hidden href="/cart" id="cart" >cart</a>
			</li>
		</ul>
	</div>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript">
	$(function () {
		$('#log-out-bttn').click(function() {
			$.ajax({
				type: "post",
				url: "/logout",
				success: function(result) {
					console.log("logout success");
				}
			});
		});
	});
</script>
