<% include header.ejs %>
	<div id="body">
		<div class="content">
			<div>
				<div>
					<h1>Live Show</h1>
					<div> <a href="hotdog.html"><img src="images/hotdog.jpg" width="434" height="327" alt=""></a> </div>
					<ul>
						<li>
							<h2><a href="hotdog.html">Nanta</a></h2>
							<p>
							Head Chef มือฉมังผู้อ่อนแอ Sexy Guy ผู้มาดแมนและ Hot Sauce กุ๊กสาวผู้ร่าเริงจอมพลัง
							ตัวละครทั้งสามเริ่มต้นงานเชฟเฉกเช่นทุกวัน ด้วยการล้างผัก แบกเนื้อ ตั้งเตา
							แต่แล้วผู้จัดการตัวดีก็สั่งให้พวกเขาเตรียมอาหารสำหรับงานแต่งงานถึง 10 เมนู
							ภายใน 1 ชั่วโมง มิหนำซ้ำยังพาหลานชายมาฝากทำงานอีกด้วย และแล้วห้องครัวก็ไม่วายโกลาหล
							กุ๊กแต่ละคนต่างรีบเร่ง หั่น ทุบและสับ เพื่อให้อาหารเสร็จทันเวลางานแต่งงาน ณ เวลา 18.00 น.
							ซึ่งก็ใกล้เข้ามาทุกที เหล่าบรรดากุ๊กนันทาจะทำสำเร็จหรือไม่??
							</p>
							<span class="price">1300</span>
						</li>
						<li>
							<h2><a href="hotdog.html">Calypso Cabaret</a></h2>
							<p>
								CALYPSO BANGKOK as a live stage for artists and performers to express their minds,
								their thoughts, their feelings in a highly professional way,
								to continue the unique and different form of show entertainment,
								which CALYPSO presents today.
								Strength of character - professional attitude - the beauty of the individual personality !
							</p>
							<span class="price">900</span>
						</li>
						<!-- <li>
							<h2><a href="hotdog.html">Himmapan Avatar 360°</a></h2>
							<p>
								หิมพานต์อวตารเป็นเรื่องราวการผจญภัยของเทพและสัตว์ในหิมพานต์ ดินแดนซึ่งมีความงามน่ามหัศจรรย์เหนือจินตนาการ ดินแดนแห่งนี้ถูกอสูรราหูเข้ายึดครอง และกดขี่ให้อยู่ ใต้อำนาจมืดเป็นเวลาหลายร้อยปี ทุกชีวิตในหิมพานต์ ต้องอยู่ในความหวาดกลัว และต่างเฝ้ารอวันที่มณีรัตนะ จะผุดขึ้นจากสระอโนดาตตามคำพยากรณ์ของเทพเจ้า หากแต่ผู้ครอบครองมณีศักดิ์สิทธิ์นี้จะขอพรได้เพียงแค่ สามประการเท่านั้น

								อัปสรปักษีจึงชวนกบิลปักษาไปอัญเชิญมณีรัตนะ เพื่อนำพลังของมณีรัตนะมากอบกู้หิมพานต์ ในห้วงเวลาอันสำคัญเมื่อเทพอาทิตย์และจันทราโคจรจนมาทับซ้อนกัน ซึ่งจะเป็นเวลาที่เทพทั้งสอง อ่อนแอที่สุด ในขณะนั้นอสูรราหูจึงหมายจะฉวยโอกาสกลืนกินเทพทั้งสอง และครอบงำหิมพานต์อย่างสมบูรณ์

								อัปสรปักษีใช้พลังของมณีรัตนะเอาชนะ อสูรราหูได้ในที่สุด แม้ในระหว่างทาง ทั้งหมดต้องเผชิญกับเหล่าสมุนของอสูรราหู ทั้งนางอัคคี โหงพราย กาฬปักษา ที่คอยขัดขวางเพื่อแย่งชิงมณีรัตนะ แต่ด้วยการร่วมแรงร่วมใจ แรงศรัทธา ในความดี และด้วยความช่วยเหลือ ของพญานาคา หิมพานต์จึงกลับคืนสู่ ความสงบสุขงดงามอีกครั้งหนึ่ง
							</p>
							<span class="price">1400</span>
						</li> -->
						<li class="last	">
							<h2><a href="hotdog.html">Himmapan Avatar 360°</a></h2>
							<p>
								หิมพานต์อวตารเป็นเรื่องราวการผจญภัยของเทพและสัตว์ในหิมพานต์ ดินแดนซึ่งมีความงามน่ามหัศจรรย์เหนือจินตนาการ ดินแดนแห่งนี้ถูกอสูรราหูเข้ายึดครอง และกดขี่ให้อยู่ ใต้อำนาจมืดเป็นเวลาหลายร้อยปี ทุกชีวิตในหิมพานต์ ต้องอยู่ในความหวาดกลัว และต่างเฝ้ารอวันที่มณีรัตนะ จะผุดขึ้นจากสระอโนดาตตามคำพยากรณ์ของเทพเจ้า หากแต่ผู้ครอบครองมณีศักดิ์สิทธิ์นี้จะขอพรได้เพียงแค่ สามประการเท่านั้น

								อัปสรปักษีจึงชวนกบิลปักษาไปอัญเชิญมณีรัตนะ เพื่อนำพลังของมณีรัตนะมากอบกู้หิมพานต์ ในห้วงเวลาอันสำคัญเมื่อเทพอาทิตย์และจันทราโคจรจนมาทับซ้อนกัน ซึ่งจะเป็นเวลาที่เทพทั้งสอง อ่อนแอที่สุด ในขณะนั้นอสูรราหูจึงหมายจะฉวยโอกาสกลืนกินเทพทั้งสอง และครอบงำหิมพานต์อย่างสมบูรณ์

								อัปสรปักษีใช้พลังของมณีรัตนะเอาชนะ อสูรราหูได้ในที่สุด แม้ในระหว่างทาง ทั้งหมดต้องเผชิญกับเหล่าสมุนของอสูรราหู ทั้งนางอัคคี โหงพราย กาฬปักษา ที่คอยขัดขวางเพื่อแย่งชิงมณีรัตนะ แต่ด้วยการร่วมแรงร่วมใจ แรงศรัทธา ในความดี และด้วยความช่วยเหลือ ของพญานาคา หิมพานต์จึงกลับคืนสู่ ความสงบสุขงดงามอีกครั้งหนึ่ง
							<span class="price">1400</span>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<% include slidebar.ejs %>
	</div>
	<% include footer.ejs %>
</body>
</html>
