<% include header.ejs %>

	<div id="body">
		<!-- <div class="content"> -->
			<div>
				<div>

				</div>
			</div>
		<!-- </div> -->
    <div class ="sidebar">
			<h1>Open Everyday</h1>
			<span>including holidays</span> <span>from 8AM until 1AM</span>
			<h1>Address</h1>
			<span>Retro Diner Restaurant</span> <span>2281 Ash Street</span> <span>Dallas, TX 75212</span>
			<h1>Phone Number</h1>
			<span>972-879-4317</span>
			<h1>Open Everyday</h1>
			<span>including holidays</span> <span>from 8AM until 1AM</span> <a href="breakfast.html" class="download">&nbsp;</a> </div>
</div>
	<% include footer.ejs %>
</body>
</html>
<% include login-session.js %>
