<% include header.ejs %>
	<div id="body">
		<div class="content">
			<div>
				<div>
					<h1>SORRY!</h1>
					<div> <a href="/item"><img src="http://weknowyourdreams.com/images/sad/sad-06.jpg" width="434" height="288" alt=""></a> </div>
					<ul>
						<li>
							<h2><a href="/burger">We don't have any Tickets now.</a></h2>
							<p>
								Subsribe and waiting for big deals! ever you see!
							</p>
					</ul>
				</div>
			</div>
		</div>
		<% include slidebar.ejs %>
	</div>
	<% include footer.ejs %>
</body>
</html>
