<% include header.ejs %>

	<div id="body">
		<div class="content">
			<div>
				<div>
					<h1>Register</h1>
					<h4>Just fill in the form below.</h4>
          	<form action="contact.html">
						<label for="name"> <span class="text">Your Name:</span>
							<input type="text" name="name" id="name">
						</label>
						<label for="email"> <span>Your E-mail:</span>
							<input type="text" name="email" id="email">
						</label>
						<label for="password"> <span>Password:</span>
							<input type="text" name="password" id="password">
						</label>
						<label for="Reenter-password"> <span>Reenter-password:</span>
							<input type="text" name="Reenter-password" id="Reenter-password">
						</label>
						<input type="submit" value=""> 
					</form>
				</div>
			</div>
		</div>
		<div class="sidebar">
			<h1>Open Everyday</h1>
			<span>including holidays</span> <span>from 8AM until 1AM</span>
			<h1>Address</h1>
			<span>Retro Diner Restaurant</span> <span>2281 Ash Street</span> <span>Dallas, TX 75212</span>
			<h1>Phone Number</h1>
			<span>972-879-4317</span>
			<h1>Open Everyday</h1>
			<span>including holidays</span> <span>from 8AM until 1AM</span> <a href="breakfast.html" class="download">&nbsp;</a> </div>
	</div>
	<% include footer.ejs %>
</body>
</html>
