<% include header.ejs %>
<style>
.button {
	background-color: #800000;
	border: white;
	color: white;
	padding: 10px 20px;
	/*width: 100px;*/
	/*height: 50px;*/
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 2px 2px;
	cursor: pointer;
	/*white-space: normal;*/
}
</style>

	<div id="body">
		<div class="content">
			<div>
				<div>
						<!-- <input type="button" class="button" value="Shop"> -->
					<!-- <form action="/register">
						<label for="user-registration" id="user-registration-lbl"> <h4>User Registration hit Here</h4>
							<input type="submit" value="" id="shop-btn">
						</label>
					</form> -->
					<form action="/register/shop">
						<label for="shop-registration" id="shop-registration-lbl"> <h4>Shop Registration hit Here</h4>
							<input type="submit" value="" id="shop-btn">
						</label>
					</form>
					<h1>User Register</h1>
					<h4>Just fill in the form below.</h4>
          	<form action="javascript:void(0);">
						<label for="email" id="email-lbl"> <span>Your E-mail:</span>
							<input type="text" name="email" id="email">
						</label>
						<label for="password" id="password-lbl"> <span>Password:</span>
							<input type="password" name="password" id="password">
						</label>
						<label for="Reenter-password" id="re-password-lbl"> <span>Re-enter password:</span>
							<input type="password" name="Reenter-password" id="re-password">
						</label>
						<label for="name" id="name-lbl"> <span class="text">Your Name:</span>
							<input type="text" name="name" id="name">
						</label>
						<label for="Address" id="address-lbl"> <span class="text"> <span>Address:</span>
							<input type="text" name="address" id="address">
						</label>
						<label for="Telephone" id="phone-lbl"> <span class="text"> <span>Telephone:</span>
							<input type="text" name="Telephone" id="phone">
						</label>
						<label for="Emergency-contact" id="emergency-contact-lbl"> <span class="text">Emergency-contact:</span>
							<input type="text" name="Emergency-contact" id="emergency-contact">
						</label>
						<input type="submit" value="" id="submit-register-bttn">
					</form>
				</div>
			</div>
		</div>
		<% include sidebar.ejs %>
	</div>
	<% include footer.ejs %>
</body>
</html>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js" type="text/javascript"></script>
<script>
function isEmptyOrSpaces(str){
    return str === null || str.match(/^ *$/) !== null;
}
	$('#submit-register-bttn').click(function() {
			// window.location.replace("/about");
			var name = $('#name').val();
			var phone = $('#phone').val();
			var addr = $('#address').val();
			var email = $('#email').val();
			var password = $('#password').val();
			var repassword = $('#re-password').val();
			var contact = $('#emergency-contact').val();
			if(password != repassword) {
				alert("Password doesn't match");
				$('#password').val("");
				$('#re-password').val("");
				return;
			}
			if(isEmptyOrSpaces(name) || isEmptyOrSpaces(phone) || isEmptyOrSpaces(addr) ||
					isEmptyOrSpaces(email) || isEmptyOrSpaces(password) || isEmptyOrSpaces(contact)) {
				alert("Some field is blank, please enter it.");
				return;
			}
			if(isNaN(phone)) {
				alert("Telephone field isnt number, please re-enter it.");
				$("#phone").val("");
			}
			var obj = {};
			obj['name'] = name;
			obj['phone'] = phone;
			obj['addr'] = addr;
			obj['email'] = email;
			obj['password'] = password;
			obj['contact'] = contact;
			// alert(obj.name);
			$.ajax({
			type: "post",
			data: obj,
			dataType: "json",
			url: "/register",
			success: function(result) {
				if(result.status == 'isRegisted') {
					alert("Email was used.");
					$("#email").val("");
				} else if(result.status == 'err') {
					alert("Connection error please try again");
				} else if(result.status == 'success') {
					alert("Register success");
					$('#password').val("");
					$('#name').val("");
					$('#re-password').val("");
					$("#email").val("");
					$("#phone").val("");
					$("#password").val("");
					$('#address').val("");
					$('#emergency-contact').val("");
					window.location.replace("/log-in");
				} else {
					alert("Error")
				}
			}
		});
	});
</script>
<% include login-session.js %>
