<% include header.ejs %>
	<div id="body">
		<div class="content">
			<div>
				<div>
					<h1>Movie</h1>
					<div> <a href="shake.html"><img src="images/shake.jpg" width="434" height="347" alt=""></a> </div>
					<ul>
						<li>
							<h2><a href="shake.html">Beauty and the Beast</a></h2>
							<p>
								Beauty and the beast ในเวอร์ชั่น Live Action การแสดงของ เอ็มม่า วัตสัน ในบทของ เบลล์ สาวชาวบ้านที่ได้เข้าไปในปราสาทของอสูร เพื่อแลกกับการช่วยชีวิตของพ่อ นอกจากนี้ยังเผยให้เห็นปราสาทและด้านในอีกหลายฉากรวมถึงสกอร์ภาพยนตร์ที่คุ้นเคยจากเวอร์ชั่นอนิเมชั่นในปี 1991
							<span class="price">240</span>
						</li>
						<li>
							<h2><a href="shake.html">Ghost in the shell</a></h2>
							<p>
								GHOST IN THE SHELL สร้างจากการ์ตูนไซไฟระดับนานาชาติ เรื่องราวการปฏิบัติการในเซ็คชั่น 9 ของไซบอร์กสาว เพื่อหยุดยั้งอาชญากรรมและกลุ่มหัวรุนแรง โดยต้องเผชิญกับศัตรูที่มีเป้าหมายขัดขวางความก้าวหน้าทางเทคโนโลยีไซเบอร์ของฮันกา โรโบติค

							</p>
							<span class="price">240</span>
						</li>
						<!-- <li>
							<h2><a href="shake.html">The Smurfs 3</a></h2>
							<p>
								การกลับมาของเหล่าภูตตัวสีฟ้าที่จะมาป่วน ซึ่งคราวนี้เหล่าสเมิร์ฟจะต้องออกเดินทางเพื่อเข้าไปในหมู่บ้านที่สาบสูญ ก่อนที่พ่อมดช่วยร้ายจะค้นหาเจอ ท่ามกลางการผจญภัยสุดสนุกสนาน พร้อมตัวละครที่คุณคิดถึงจากภาค 1 กลับมาแบบครบเซ็ต ทั้ง ปาป้า สเมิร์ฟ ,สเมิร์ฟเฟ็ตต์,แฮฟฟี่ , คลัมซี่  และ เบรนนี่

							</p>
							<span class="price">240</span>
						</li> -->
						<li class="last	">
							<h2><a href="shake.html">The Smurfs 3</a></h2>
							<p>
								การกลับมาของเหล่าภูตตัวสีฟ้าที่จะมาป่วน ซึ่งคราวนี้เหล่าสเมิร์ฟจะต้องออกเดินทางเพื่อเข้าไปในหมู่บ้านที่สาบสูญ ก่อนที่พ่อมดช่วยร้ายจะค้นหาเจอ ท่ามกลางการผจญภัยสุดสนุกสนาน พร้อมตัวละครที่คุณคิดถึงจากภาค 1 กลับมาแบบครบเซ็ต ทั้ง ปาป้า สเมิร์ฟ ,สเมิร์ฟเฟ็ตต์,แฮฟฟี่ , คลัมซี่  และ เบรนนี่
							</p>
							<span class="price">240</span>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<% include slidebar.ejs %>
	</div>
	<% include footer.ejs %>
</body>
</html>
