<% include header.ejs %>
	<style>
	.button {
    background-color: #800000;
    border: white;
    color: white;
    padding: 15px 32px;
		/*width: 100px;*/
		/*height: 50px;*/
    text-decoration: none;
		display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
		/*white-space: normal;*/
}
</style>
	<div id="body">
		<div class="content">
			<div>
				<div>
          <form action="/log-in">
						<label for="user-login" id="user-login-lbl"> <h4>Login for User hit Here</h4>
							<input type="submit" value="" id="user-send-btn">
						</label>
					</form>
					<h1>Login for Shop</h1>
					<!-- <h4>Just fill in the form below.</h4> -->
					<!-- <form action=""> -->

					<!-- <button class="button">User</button> -->
					<!-- <input type="button" class="button" value="Shop"> -->
					<!-- <button class="button">Shop</button> -->
					<!-- <input type="button" class="button" value="User"> -->
						<!-- <button class="button" id="shop-bttn">
							<h4 style="color:white; white-space: normal; "> Shop</h4></button> -->
						<!-- <input type="button" class="button" value="Input Button"> -->
						<!-- <button class="button" id="user-bttn">
							<h4 style="color:white; white-space: normal;">User</h4></button> -->
						<!-- <input type="button" class="button" value="Input Button"> -->
						<!-- <input type="radio" name="status" value="shop">
						<h4 style="color:Red;">Shop</h4>
						<!-- <input type="radio" name="status" value="user"> -->

					<!-- </form> -->
          	<form action="/shop/login">

						<label for="email"> <span class="text">E-mail:</span>
							<input type="text" name="email" id="email">
						</label>
						<label for="password"> <span>Password:</span>
							<input type="password" name="password" id="password">
						</label>
						<input type="submit" value="" id="submit-bttn">
					</form>
				</div>
			</div>
		</div>
		<div class="sidebar">
			<h1>Open Everyday</h1>
			<span>including holidays</span> <span>from 24 hours!</span>
			<h1>Address</h1>
			<span>Thammasat University Rangsit</span> <span>Address : 99 Mu 18 Khlongnueng </span> <span> Sub District, Khlong Luang District, Pathum Thani 12120</span>
			<h1>Phone Number</h1>
			<span>08X-XXX-XXXX</span>
			<h1>Enjoy Reserving!</h1>
			<span>launch by cstu</span>  </div>
			<img class="logo" src="/images/logo.png" width="513" height="84" alt="" title="">
	</div>
	<% include footer.ejs %>
</body>
</html>
 <% include login-session.js %>
