
<div class="sidebar">
  <h1>Welcome to Jongdi!</h1>
  <span>enjoy your easily reserving any ticket</span> <span>for 24 hours!</span>
  <h1>First Step</h1>
  <span>registration first</span> <span>for coming</span> <span>and joining with us</span>
  <h1>Contact us</h1>
  <span>08X-XXX-XXXX</span>
  <h1>Location</h1>
  <span>Computer Science</span> <span>at Thammasat University</span>
  <h1> </h1>
  <img class="logo" src="images/logo.png" width="513" height="84" alt="" title="">
</div>
